<div class="user">
  <h1>Lender</h1>
  <% if flash[:lender_errors]
    flash[:lender_errors].each do |e|%>
    <h4><%=e%></h4>
    <%end
  end%>
  <form method="post" action="/lenders">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>First Name: <input type="text" name="lender[first_name]"></label><br>
    <label>Last Name: <input type="text" name="lender[last_name]"></label><br>
    <label>Email: <input type="text" name="lender[email]"></label><br>
    <label>Password: <input type="text" name="lender[password]"></label><br>
    <label>Money: <input type="text" name="lender[money]"></label>
    <input type="submit" value="Register">
  </form>
  <a href="/online_lending/login">Already a member?</a>
</div>

<div class="user">
  <h1>Borrower</h1>
  <% if flash[:borrower_errors]
    flash[:borrower_errors].each do |e|%>
    <h4><%=e%></h4>
    <%end
  end%>
  <form method="post" action="/borrowers">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>First Name: <input type="text" name="borrower[first_name]"></label><br>
    <label>Last Name: <input type="text" name="borrower[last_name]"></label><br>
    <label>Email: <input type="text" name="borrower[email]"></label><br>
    <label>Password: <input type="text" name="borrower[password]"></label><br>
    <label>Need Money For: <input type="text" name="borrower[purpose]"></label>
    <label>Description: <textarea name="borrower[description]"></textarea></label>
    <label>Amount Needed: <input type="text" name="borrower[money]"></label>
    <input type="hidden" name="borrower[raised]" value="0">
    <input type="submit" value="Register">
  </form>
  <a href="/online_lending/login">Already a member?</a>
</div>