<style type="text/css">
  .user {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 20px;
    padding: 15px;
  }
</style>


<h1>Login</h1>

<% if flash[:errors] %>
    <h4><%=flash[:errors]%></h4>
<%end%>

<div class="user">
  <form method="post" action="/sessions">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>Email: <input type="text" name="email"></label><br>
    <label>Password: <input type="text" name="password"></label><br>
    <input type="submit" value="Log In">
  </form>
  <a href="/online_lending/register">Click here to register</a>
</div>